<div class="form-container text-center">
  <hr>
  <h1>Stupid Coaching</h1>
   <div class="form-inline">
    <form action="/answers" method="get" class="form">
      <input type="text" class="form-control" name="asked_question" placeholder="Ask coach a question...">
      <input type="Submit" class="btn btn-primary" name="Ask!" value="Ask!">
    </form>
  </div>
  <hr>
</div>

